{% extends 'base.html' %}
{% block body %}
{% endblock %}
{% block content %}

<div class="container-mdlg">
<h1>Hey Camper!</h1>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <div class="rentedgear">
    <h2> Your Gear</h2>
    <ul>
    {% for rental in rentals %}
      <form class="returnform" method="POST">
        <div class="box">
          <li><h3>{{ rental.gear.gear_name }}</h3><img src="{{ rental.gear.gear_photo }}" id="gearpic" width="200" height="150"></a></li>
          <li>{{ rental.start_date.strftime('%B ' '%d, ' '%Y') }} - {{ rental.end_date.strftime('%B ' '%d, ' '%Y') }}</li>
          <li>Lender Email: {{ rental.lender_email }}</li>
          <input id="gear_id" type="text" value="{{rental.gear_id }}" name="gear_id" hidden>
          <input id="gear_name" type="text" value="{{ rental.gear.gear_name }}" name="gear_name" hidden>
          <input id="lender_email" type="text" value="{{ rental.lender_email }}" name="lender_email" hidden>
          <input id="start_date" type="date" value="{{ rental.start_date.strftime('%Y-%m-%d') }}" name="start_date" hidden>
          <input id="end_date" type="date" value="{{ rental.end_date.strftime('%Y-%m-%d') }}" name="end_date" hidden>
        </div>
      <li><button type="click" value="Search" class="return btn">Return</button><br><br></li>
      </form>
    {% endfor %}
    </ul>
  </div>
  <br><br><br>

</div>

<div class="footer">
  </div>
<style>
.rentedgear li {
  list-style-type: none;
  font-family: 'La Belle Aurore';
  font-size: 18px;
  font-weight: 300;
}
.rentedgear ul {
}

</style>

<script src="../static/js/rental.js" type="text/javascript"></script>

  


{% endblock %}