{% extends 'base.html' %}
{% block body %}
{% endblock %}
{% block content %}

<div class="container-mdlg">
  <h1>WELCOME TO INTENTS LENDING</h1>
  <br><br>
  <p> Camping expands your mind. The adventurer in us thrives when we spend time outdoors.<br><br>The problem? Camping gear is expensive! And heavy, ooof. But, did you know that, most often than not, gear just sits in at home, in a closet, unused?  This is why I've built inTents Lending; to connect campers to lenders who are willing to lend their gear, using convenient pickup and drop off locations based on your geolocation.<br><br>
    With a commitment to sustainability and the outdoors, inTents Lending wants everyone to seek out the adventure that's out there!<br><br>
  </p>
</div>

<style>

p {
  font-family: 'Shadows Into Light';
  letter-spacing: 2px;
  font-size: 20px;
}
</style>

{% endblock %}
