{% extends 'base.html' %}
{% block body %}
{% endblock %}
{% block content %}


<div class="container-mdlg">
<h1>You are the bridge to camp!</h1>
  <div id="profilepic">
    <img src="{{ lender.lender_photo_url }}" width="150" height="200">
  </div>
<form action="/lender/{{ lender.lender_email }}" method="POST" enctype="multipart/form-data" class="upload">
    <div>
      <h2>Upload Equipment!</h2> <br>
      <label>
        Category:
            <select id="category-type-field" name="category_type" class="form-control" required>
              <option>Backpacks & Bags</option>
              <option>Camp Bedding</option>
              <option>Camp Furniture</option>
              <option>Camp Kitchen</option>
              <option>Camp Lighting</option>
              <option>Camp Electronics</option>
              <option>Hydration</option>
              <option>Knives & Tools</option>
              <option>Sleeping Bags</option>
              <option>Tents & Shelter</option>
              </select>
        </label>
    </div>
    <br>
    <div>
        <label>
            Brand:
            <select id="brand-type-field" name="brand_type" class="form-control" required>
                    <option>Big Agnes</option>
                    <option>Black Diamond</option>
                    <option>CamelBak</option>
                    <option>Evernew</option>
                    <option>GSI</option>
                    <option>Hydro Flask</option>
                    <option>Marmot</option>
                    <option>Mountain Hardwear</option>
                    <option>MSR</option>
                    <option>Nemo</option>
                    <option>Osprey</option>
                    <option>Patagonia</option>
                    <option>REI</option>
                    <option>Sea to Summit</option>
                    <option>Sierra Designs</option>
                    <option>Snow Peak</option>
                    <option>Terra Nova</option>
                    <option>The North Face</option>
                </select>
        </label>
    </div>
    <br>
    <div>
        <label>
            Name:
            <input type="text" name="gear_name" required>
        </label>
    </div>
    <br>
    <div>
        <label>
            Zipcode:
            <input type="text" name="zipcode" required>
        </label>
    </div>
    <br>
    <div>
      <label>
          Upload Photo of Equipment:
          <input type="file" name="photo" accept="image/x-png,image/gif,image/jpeg" required/>
      </label>
    </div>
    <div>
      <button type="submit" value="Upload" class="btn">Upload</button></form><br><br>
    </div>
    <div>
      <form action='/equipment'>
        <button type="submit" value="Check out your equipment" class="btn">Check out Your Equipment!</button>
      </form> 
    </div>
</div>

<div class="footer">
</div>

{% endblock %}