{% extends 'base.html' %}
{% block body %}

{% endblock %}
{% block content %}

<div class="container-medium2" id="login">
<h1>Log In</h1>

<form action="/login" method="POST" class="login">
    <div>
        <label>
            Logging in as: 
            <input type="radio" name="user_type" value="camper" checked>Camper
            <input type="radio" name="user_type" value="lender"> Lender <br>
        <label>
            Email: 
            <input type="email" name="email" required>
        </label>
    </div>
    <div>
        <label>
            Password: 
            <input type="password" name="password" required>
        </label>
    </div>

    <div>
        <input type="submit" value="login" name="login">
    </div>
</form>
</div>


{% endblock %}
