{% extends 'base.html' %}
{% block body %}
{% endblock %}
{% block content %}

<div class="container-medium2" id="registration">
<h1>Registration Form</h1><br>

<form action="/registration" class="registration" method="POST" enctype="multipart/form-data">
    <div>
        <label>
            Registering as: <br>
            <input type="radio" name="user_type" value="camper" checked>Camper
            <input type="radio" name="user_type" value="lender"> Lender 
        </label>
    </div>
    <br>
    <div>
        <label>
            First Name:
            <input type="text" name="first_name">
        </label>
    </div>
    <br>
    <div>
        <label>
            Last Name
            <input type="text" name="last_name">
        </label>
    </div>
    <br>
    <div>
        <label>
            Email: 
            <input type="email" name="email" required>
        </label>
    </div>
    <br>
    <div>
        <label>
            Password: 
            <input type="password" name="password" required>
        </label>
    </div>
    <br>
    <div>
        <label>
            Upload Your Photo
            <input type="file" name="photo" accept="image/x-png,image/gif,image/jpeg" required/>
        </label>
    </div>
    <div>
        <input type="submit" name="register">
    </div>
</form>
</div>


{% endblock %}